@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  align-self: center;
  color: #222222;
  font-size: 27px;
  text-decoration: none;
  margin: 20px 37px 12px 13px;
}
.logo .brand {
  font-weight: 300;
  letter-spacing: 0.68px;
  margin-left: 13px;
}
.logo .brand .last-letter {
  color: #f16d7f;
  font-weight: 400;
  letter-spacing: 0.68px;
}

.fa-search {
  font-weight: 900 !important;
}

.button-site {
  background-color: #f16d7f;
  padding: 10px 23px 10px 20px;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;
  position: relative;
}
.button-site:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.button-site_bottom:before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  right: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #fafafa transparent transparent transparent;
  margin-left: 8px;
}
.button-site.bot {
  color: #ffffff;
  position: relative;
  text-align: center;
  width: 130px;
  height: 38px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.button-site.bot:hover {
  color: #f16d7f;
}
.button-site:hover.bot:before {
  border-color: #f16d7f transparent transparent transparent;
}
.button-site.btn {
  padding: 15px 45px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.button-site.btn:hover {
  color: #f16d7f;
}
.button-site.btn-form {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
.button-site.btn-form:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.button-site.btn-form .basket-img {
  margin-right: 15px;
}

.product-link {
  display: flex;
  margin-bottom: 113px;
}
.product-link .account-link {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  padding: 19px 19px 19px 24px;
  margin: 0 auto;
}
.product-link .account-link:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.product-link .account-link .fas {
  margin-left: 9px;
}

.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #fff;
  display: flex;
  align-self: center;
}
.header .category-top {
  display: flex;
  justify-content: space-between;
}
.header .category-top .category-left {
  display: flex;
  align-items: center;
}
.header .category-top .category-left .header-form {
  display: flex;
}
.header .category-top .category-left .header-form .header-input {
  width: 317px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 16px;
}
.header .category-top .category-left .header-form button {
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin-left: -5px;
}
.header .category-top .category-left .header-form .fa-search {
  height: 100%;
  width: 38px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}
.header .category-top .header-right {
  display: flex;
  align-items: center;
}
.header .category-top .header-right .basket-img {
  margin-right: 26px;
  height: 100%;
  display: block;
}
.header .category-top .header-right .basket-img .fa {
  font-size: 30px;
  color: #585858;
}
.header .category-top .header-right .basket-block {
  position: relative;
}
.header .category-top .header-right .basket-block:hover .mega-box {
  display: flex;
  top: 35px;
  left: -25px;
}
.header .category-top .header-right .basket-block .mega-box {
  padding: 0 20px 15px 15px;
}
.header .category-top .header-right .basket-block .mega-box .top .block {
  display: flex;
  height: 120px;
  border-bottom: 1px solid #ededed;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .category-top .header-right .basket-block .mega-box .top .block .left {
  margin-right: 15px;
}
.header .category-top .header-right .basket-block .mega-box .top .block .center {
  display: flex;
  flex-direction: column;
  min-width: 130px;
}
.header .category-top .header-right .basket-block .mega-box .top .block .center .title {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header .category-top .header-right .basket-block .mega-box .top .block .center .stars {
  margin-bottom: 10px;
}
.header .category-top .header-right .basket-block .mega-box .top .block .center .cross {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
}
.header .category-top .header-right .basket-block .mega-box .top .block .right {
  margin-right: 15px;
}
.header .category-top .header-right .basket-block .mega-box .top .block .right .fa {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  line-height: 80px;
}
.header .category-top .header-right .basket-block .mega-box .btn {
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  cursor: pointer;
}
.header .category-top .header-right .basket-block .mega-box .btn:hover {
  border-color: #f16d7f;
  color: #f16d7f;
}
.header .category-top .header-right .basket-block .mega-box .mb-10 {
  margin-bottom: 10px;
}
.header .category-top .header-right .bottom {
  display: flex;
  flex-direction: column;
}
.header .category-top .header-right .bottom .total {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.shopping-cart {
  padding-top: 90px;
  padding-bottom: 80px;
}
.shopping-cart_flex {
  display: flex;
  justify-content: space-between;
}
.shopping-cart_grid {
  display: grid;
  justify-items: stretch;
  align-items: start;
}
.shopping-cart .border {
  border: 1px solid #000;
}
.shopping-cart .border-box {
  padding-top: 5px;
  padding-bottom: 5px;
}
.shopping-cart .input-field {
  padding: 16px 18px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
}
.shopping-cart__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;
}
.shopping-cart__form_block {
  width: 355px;
  display: flex;
  flex-direction: column;
}
.shopping-cart__form .mb-20 {
  margin-bottom: 20px;
}
.shopping-cart__form .get-a-quote {
  width: 100px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}
.shopping-cart__form .get-a-quote:active {
  border-color: #f16d7f;
  color: #f16d7f;
}
.shopping-cart__form_center .text {
  height: 14px;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 28px;
  margin-bottom: 24px;
}
.shopping-cart__form_center .state {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 16px 18px;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 25px;
}
.shopping-cart__form_center .apply-coupon {
  width: 118px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}
.shopping-cart__form_center .apply-coupon:active {
  border-color: #f16d7f;
  color: #f16d7f;
}
.shopping-cart__form_right {
  background-color: #f5f3f3;
  padding: 40px;
  text-align: right;
}
.shopping-cart__form_right .top {
  color: #4a4a4a;
}
.shopping-cart__form_right .top-sub {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.shopping-cart__form_right .top-grand {
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 20px;
}
.shopping-cart__form_right .top-grand .main-color {
  color: #f16d7f;
}
.shopping-cart__form_right .bottom {
  width: 100%;
  height: 50px;
  background-color: #f16d7f;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  border: 0;
  border: 1px solid transparent;
}
.shopping-cart__form_right .bottom:hover {
  color: #f16d7f;
  border-color: #f16d7f;
  background-color: #fff;
}
.shopping-cart__box-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 60px;
}
.shopping-cart__btn {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 20px 40px;
  cursor: pointer;
}
.shopping-cart__btn:hover.bold-text {
  border-color: #f16d7f;
  color: #f16d7f;
}
.shopping-cart .col {
  display: flex;
  flex-direction: column;
}
.shopping-cart .col:last-of-type {
  text-align: right;
}
.shopping-cart .col-1 {
  width: 40%;
}
.shopping-cart .col-2 {
  width: 15%;
}
.shopping-cart .col-3 {
  width: 15%;
}
.shopping-cart .col-4 {
  width: 10%;
}
.shopping-cart .col-5 {
  width: 16%;
}
.shopping-cart .col-6 {
  width: 10%;
}
.shopping-cart .bold-text {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.shopping-cart .details {
  display: flex;
  align-items: center;
  height: 162px;
}
.shopping-cart .details .text {
  margin-left: 20px;
}
.shopping-cart .details .text .bold-text {
  margin-top: -10px;
  margin-bottom: 17px;
}
.shopping-cart .details .text strong {
  color: #575757;
  font-size: 13px;
  line-height: 20px;
}
.shopping-cart .details .text span {
  color: #6f6e6e;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}
.shopping-cart .details .inp {
  width: 54px;
  text-align: center;
  display: inline-block;
  border: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shopping-cart .title {
  padding-bottom: 20px;
}
.shopping-cart .img {
  width: 100px;
  height: 115px;
}
.shopping-cart .config {
  border-bottom: 1px solid #eaeaea;
}
.shopping-cart .txt-center {
  width: 100%;
  text-align: center;
}
.shopping-cart .txt-x {
  cursor: pointer !important;
}

.my-circle {
  color: #c0c0c0 !important;
  cursor: pointer !important;
}
.my-circle:hover {
  color: #f16d7f !important;
}

.navigation {
  border-top: 1px solid #ececec;
}
.navigation .menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.navigation .menu .menu-list {
  position: relative;
  border-bottom: 3px solid transparent;
}
.navigation .menu .menu-list.active {
  border-bottom: 3px solid #f16d7f;
}
.navigation .menu .menu-list:hover .mega-box {
  display: flex;
}
.navigation .menu .menu-list:hover .mega-box.last {
  right: 0;
}
.navigation .menu .menu-list:hover .mega-box.last:before {
  left: 770px;
}
.navigation .menu .menu-list:hover .mega-box.center {
  right: -400px;
}
.navigation .menu .menu-list:hover .mega-box.center:before {
  left: 398px;
}
.navigation .menu .menu-list .menu-link {
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.mega-box {
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 20px;
  position: absolute;
  background: #fff;
  z-index: 1;
  display: none;
}
.mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  position: absolute;
  top: -7.3px;
  left: 36px;
  transform: rotate(45deg);
  background: #fff;
}
.mega-box.last:before {
  right: 0;
}
.mega-box.center:before {
  right: 0;
}
.mega-box .item-heading {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.mega-box .item-heading.margin-top-37 {
  margin-top: 19px;
}
.mega-box .mega-item {
  margin-right: 45px;
}
.mega-box .mega-item:last-of-type {
  margin-right: 0;
}
.mega-box .mega-item .mega-list {
  list-style-type: none;
}
.mega-box .mega-item .mega-list .mega-link {
  color: #646464;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  display: block;
}
.mega-box .mega-item .mega-list .mega-link:hover {
  color: #f16d7f;
}
.mega-box .mega-item .mega-img {
  margin-top: 22px;
  position: relative;
}
.mega-box .mega-item .mega-img .mega-img-text {
  position: absolute;
  width: 71px;
  height: 45px;
  bottom: 12px;
  right: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}

.banner {
  background-color: #e8e8e8;
  z-index: -1;
}
.banner .banner-block {
  background: url("../img/bg-header.jpg");
  height: 614px;
  display: flex;
  position: relative;
}
.banner .banner-text {
  position: absolute;
  height: 92px;
  top: 246px;
  font-family: "Lato - Black", sans-serif;
  font-weight: 400;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  text-transform: uppercase;
}
.banner .banner-text .the-brand {
  color: #222222;
  font-size: 60px;
  letter-spacing: 1.5px;
  margin: -5px 0 0 0;
  line-height: 58px;
}
.banner .banner-text .of-luxerious {
  color: #222222;
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 38px;
  margin: 5px 0 0 0;
}
.banner .banner-text .of-luxerious .fashion {
  color: #f16d7f;
}

.news-box {
  width: 100%;
  height: 823px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.news-box__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-box .column {
  width: 560px;
}
.news-box .link {
  position: relative;
  transition: all 0.5s;
}
.news-box .link_img {
  width: 100%;
  height: 100%;
}
.news-box .link:hover {
  box-shadow: #f16d7f 0 0 15px;
}
.news-box .link:hover .text {
  background-color: #f16d7f;
}
.news-box .link:hover .text_h3 {
  color: white;
}
.news-box .man:hover {
  transform: scale(1.1) translate(-50px, -50px);
}
.news-box .accessories:hover {
  transform: scale(1.2) translate(-70px, 50px);
}
.news-box .woman:hover {
  transform: scale(1.2) translate(70px, -50px);
}
.news-box .for-kids:hover {
  transform: scale(1.1) translate(50px, 50px);
}
.news-box .link__text {
  position: absolute;
  top: 26px;
  z-index: 1;
}
.news-box .text {
  padding: 16px 18px;
  background-color: white;
  transition: background-color 0.5s;
}
.news-box .text_p {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.news-box .text_h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
  transition: color 0.5s;
}

.products__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products .title_h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}
.products .title_p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-top: 16px;
}

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product_mg {
  margin-top: 60px;
  margin-bottom: 60px;
}
.product .item {
  position: relative;
}
.product .item_param {
  margin-bottom: 40px;
}
.product .item_img {
  width: 100%;
  height: 280px;
}
.product .item .link_img {
  width: 261px;
  height: 279px;
}
.product .item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product .item:hover .box-add {
  display: flex;
}
.product .item:hover .link_img {
  filter: brightness(50%);
}
.product .item .box-add {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
}
.product .item .box-add .add {
  border: 1px solid #ffffff;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.product .item .box-add .add:hover {
  box-shadow: 0 0 10px #fff;
}
.product .item .box-add .add-img {
  margin-right: 7px;
}
.product .text_param {
  padding: 20px 15px;
}
.product .text_title {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.product .text_price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-vis {
  border: 1px solid #000;
}

.link-card {
  width: 263px;
  display: block;
}
.link-card_param {
  text-decoration: none;
}

.offer {
  margin-bottom: 100px;
}
.offer .offer-color {
  color: #f16d7f;
}
.offer .offer-flex {
  display: flex;
}
.offer .offer-flex .offer-left {
  display: block;
  position: relative;
}
.offer .offer-flex .offer-left img {
  height: 100%;
}
.offer .offer-flex .offer-left .offer-text {
  position: absolute;
  top: 146px;
  left: 39px;
  color: #fff;
  text-transform: uppercase;
}
.offer .offer-flex .offer-left .offer-text .women-offer {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.offer .offer-flex .offer-left .offer-text .for-women {
  font-size: 32px;
  letter-spacing: 0.9px;
}
.offer .offer-flex .offer-right {
  background-color: #222224;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 35px 40px 109px;
  color: #fbfbfb;
}
.offer .offer-flex .offer-right .right-item {
  position: relative;
}
.offer .offer-flex .offer-right .right-item .free {
  text-decoration: none;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 42px;
}
.offer .offer-flex .offer-right .right-item .item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.offer .offer-flex .offer-right .right-item .item-img {
  position: absolute;
  top: 0;
  left: -73px;
}

.subscribe {
  background-image: url("../img/bg-subscribe.jpg");
  background-position: bottom;
  height: 438px;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe .subscribe-flex {
  display: flex;
}
.subscribe .reviews {
  width: 50%;
  height: 438px;
  padding: 123px 75px 40px 0;
  display: flex;
  border-right: 1px solid #ffffff;
}
.subscribe .reviews .reviews-img {
  margin-right: 28px;
}
.subscribe .reviews .reviews-message .reviews-text {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.4px;
}
.subscribe .reviews .reviews-message .reviews-person {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  margin-top: 19px;
  letter-spacing: 0.4px;
}
.subscribe .reviews .reviews-message .reviews-nik {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.subscribe .reviews .reviews-message .reviews-pagination {
  display: flex;
}
.subscribe .reviews .reviews-message .reviews-pagination .pagination-item {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-top: 41px;
  margin-right: 13px;
  cursor: pointer;
}
.subscribe .reviews .reviews-message .reviews-pagination .pagination-item:hover {
  background-color: #f16d7f;
}
.subscribe .reviews .reviews-message .reviews-pagination .pagination-item.active {
  background-color: #f16d7f;
}
.subscribe .join {
  text-align: center;
}
.subscribe .join .join-wrap {
  margin-top: 148px;
  margin-left: 90px;
  color: #222224;
}
.subscribe .join .join-wrap .join-title {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 34px;
  text-transform: uppercase;
}
.subscribe .join .join-wrap .join-sub-title {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-bottom: 26px;
  text-transform: uppercase;
}
.subscribe .join .join-wrap .join-form .join-input {
  width: 334px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  border: none;
  padding: 18px 80px 18px 28px;
}
.subscribe .join .join-wrap .join-form .join-button {
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  margin-left: -52px;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.subscribe .join .join-wrap .join-form .join-button:hover {
  background: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.footer {
  height: 438px;
  padding: 100px 20px 95px 0;
}
.footer .footer-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
}
.footer .footer-flex .footer-block-left {
  width: 427px;
}
.footer .footer-flex .footer-block-left p {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-top: 30px;
}
.footer .footer-flex .footer-block-category .block-title a {
  display: block;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}
.footer .footer-flex .footer-block-category .footer-item {
  list-style-type: none;
}
.footer .footer-flex .footer-block-category .footer-item .footer-list .footer-link {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-style: normal;
  line-height: 42px;
}
.footer .footer-flex .footer-block-category .footer-item .footer-list .footer-link:hover {
  color: #f16d7f;
}

.footer-copy {
  background: #e6e6e6;
}
.footer-copy .footer-flex-bottom {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
}
.footer-copy .footer-flex-bottom .left {
  line-height: 38px;
  width: 260px;
  height: 14px;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.footer-copy .footer-flex-bottom .right .copy-link {
  margin-right: 8px;
}
.footer-copy .networks {
  display: flex;
  justify-content: space-between;
  width: 191px;
}
.footer-copy .networks i {
  color: #ffffff;
  font-size: 32px;
}
.footer-copy .networks a:hover i {
  color: #f16d7f;
}
.footer-copy .networks a {
  list-style: none;
  font-family: "Lato", sans-serif;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.dop-margin {
  margin-bottom: 200px;
}

.header-brows {
  padding: 0 35px 0 10px;
  width: 87px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 35px;
  text-align: left;
  letter-spacing: 0.35px;
  cursor: pointer;
  position: relative;
}
.header-brows .mega-box {
  margin-left: -11px;
  margin-top: 1px;
}
.header-brows .mega-box:before {
  left: 59px;
}
.header-brows:hover .mega-box {
  display: flex;
}
.header-brows .fa {
  position: absolute;
  top: 12px;
  right: 15px;
}

.breadcrumb {
  height: 148px;
  background-color: #f8f3f4;
}
.breadcrumb .breadcrumb-flex {
  display: flex;
  justify-content: space-between;
  line-height: 148px;
}
.breadcrumb .breadcrumb-flex a, .breadcrumb .breadcrumb-flex span {
  text-transform: uppercase;
  text-decoration: none;
  color: #636363;
}
.breadcrumb .breadcrumb-flex a:hover, .breadcrumb .breadcrumb-flex span:hover {
  color: #f16d7f !important;
}
.breadcrumb .breadcrumb-flex .left a {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
}
.breadcrumb .breadcrumb-flex .right a {
  font-size: 14px;
  font-weight: 300;
}
.breadcrumb .breadcrumb-flex .right span {
  font-weight: 700;
  color: #f16d7f;
}
.breadcrumb .breadcrumb-flex .right .active {
  color: #f16d7f;
  text-decoration: underline;
}

.products-man {
  padding-top: 59px;
  padding-bottom: 110px;
}
.products-man .block-man-flex {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}
.products-man .block-man-flex .sidebar {
  width: 243px;
}
.products-man .block-man-flex .sidebar .details-man {
  margin-bottom: 45px;
  padding-right: 6px;
}
.products-man .block-man-flex .sidebar .details-man[open] > .summary-man::after {
  content: "▼";
}
.products-man .block-man-flex .sidebar .details-man .summary-man {
  line-height: 37px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 11px;
  margin-right: 49px;
}
.products-man .block-man-flex .sidebar .details-man .summary-man:hover {
  color: #f16d7f;
}
.products-man .block-man-flex .sidebar .details-man .summary-man::-webkit-details-marker {
  display: none;
}
.products-man .block-man-flex .sidebar .details-man .summary-man::after {
  content: "▲";
  padding-right: 6px;
  color: red;
}
.products-man .block-man-flex .sidebar .details-man .list-underline {
  list-style-type: none;
  margin-top: 22px;
}
.products-man .block-man-flex .sidebar .details-man .list-underline .list-link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
  margin-left: 11px;
}
.products-man .block-man-flex .sidebar .details-man .list-underline .list-link:hover {
  color: #f16d7f;
}
.products-man .product-man {
  display: flex;
  flex-direction: column;
  width: 846px;
}
.products-man .product-man .top-filter {
  display: flex;
  flex-direction: column;
}
.products-man .product-man .top-filter .property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.products-man .product-man .top-filter .property .title {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.products-man .product-man .top-filter .property .trend {
  width: 177px;
  margin-right: 110px;
}
.products-man .product-man .top-filter .property .trend .item-link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.products-man .product-man .top-filter .property .trend .item-link:hover {
  color: #f16d7f;
}
.products-man .product-man .top-filter .property .trend .split {
  color: #dfdfdf;
}
.products-man .product-man .top-filter .property .size {
  width: 236px;
  margin-right: 55px;
}
.products-man .product-man .top-filter .property .size .form-size {
  color: #6f6e6e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.products-man .product-man .top-filter .property .size .form-size .label-size {
  display: inline-block;
  margin-right: 15px;
}
.products-man .product-man .top-filter .property .size .form-size .label-size .check-size {
  margin-right: 5px;
}
.products-man .product-man .top-filter .property .price {
  width: 263px;
}
.products-man .product-man .top-filter .property .price .check-price-range {
  width: 100%;
  margin-bottom: 17px;
}
.products-man .product-man .top-filter .property .price .price-value {
  display: flex;
  justify-content: space-between;
}
.products-man .product-man .top-filter .sort {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px;
}
.products-man .product-man .top-filter .sort .sort-block {
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 9px 13px;
}
.products-man .product-man .top-filter .sort .name, .products-man .product-man .top-filter .sort .number {
  cursor: pointer;
}
.products-man .product-man .top-filter .sort .show {
  margin-left: 10px;
}
.products-man .product-man .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-man .product-man .pagination .pagination-block {
  display: flex;
  justify-content: space-between;
  width: 261px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 16px;
}
.products-man .product-man .pagination .pagination-block .list {
  display: inline;
}
.products-man .product-man .pagination .pagination-block .list .link {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 15px;
  font-weight: bold;
}
.products-man .product-man .pagination .pagination-block .list .link.active, .products-man .product-man .pagination .pagination-block .list .link.not-last {
  color: #f16d7f;
}
.products-man .product-man .pagination .pagination-block .list .link:hover {
  color: #f16d7f;
}

.feature {
  background-color: #222224;
  padding-top: 89px;
  padding-bottom: 114px;
}
.feature .feature-flex {
  display: flex;
  justify-content: space-between;
}
.feature .feature-flex .feature-box {
  width: 308px;
  text-align: center;
}
.feature .feature-flex .feature-box .feature-img {
  margin-bottom: 32px;
}
.feature .feature-flex .feature-box .title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 17px;
  cursor: pointer;
}
.feature .feature-flex .feature-box .title:hover {
  color: #f16d7f;
}
.feature .feature-flex .feature-box .text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  letter-spacing: 0.35px;
}

.woman_bg {
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  position: relative;
}
.woman_bg img {
  padding-top: 15px;
  margin: 0 auto;
  display: block;
  z-index: -1 !important;
}
.woman_bg .btn {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}
.woman_bg .btn_config {
  width: 47px;
  height: 47px;
  background-color: #2a2a2a;
  opacity: 40%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 47px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.woman_bg .btn_config:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  background-color: #fff;
}

.tb-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-flex {
  display: flex;
  justify-content: space-between;
}

.collection {
  width: 1141px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin: -76px auto 119px auto;
  padding-bottom: 122px;
  position: relative;
  z-index: 2 !important;
}
.collection > .top {
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 63px;
}
.collection > .top .title {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 73px;
}
.collection > .top .slider {
  margin-top: 14px;
  margin-bottom: 17px;
}
.collection > .top .subtitle {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.collection > .top .stars {
  margin-bottom: 26px;
}
.collection > .top .text {
  width: 650px;
  height: 60px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto 28px;
}
.collection > .top .specification {
  display: flex;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.collection > .top .specification span {
  color: #2f2f2f;
}
.collection > .top .specification .left {
  margin-left: 26.5%;
}
.collection > .top .specification .center {
  width: 44px;
}
.collection > .top .price {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 43px;
}
.collection .bottom .box-spec .center {
  margin: 0 53px;
}
.collection .bottom .box-spec .box-item {
  width: 144px;
  align-items: start;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.collection .bottom .box-spec .box-item #color {
  padding-left: 30px;
}
.collection .bottom .box-spec .box-item .item-input {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}
.collection .bottom .box-spec .box-item .item-input {
  width: 144px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 16px;
  margin-bottom: 23px;
}
.collection .wrap {
  position: relative;
}
.collection .block-color-red {
  width: 12px;
  height: 12px;
  background: red;
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 14px;
}

.you-like .title-like {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 72px;
}
.you-like .box-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}
.you-like .box-flex .item {
  transition: all ease 0.2s;
}
.you-like .box-flex .item:hover {
  box-shadow: 1px 2px 20px 12px rgba(213, 190, 205, 0.49);
}
.you-like .box-flex .item:hover .stars-5 {
  visibility: visible;
}
.you-like .box-flex .item .text-like {
  margin-bottom: 17px;
}
.you-like .box-flex .item .bottom-like {
  padding: 18px 12px 24px 15px;
}
.you-like .box-flex .item .text-like {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.you-like .box-flex .item .item-flex {
  display: flex;
  justify-content: space-between;
}
.you-like .box-flex .item .stars-5 {
  visibility: hidden;
  transition: all ease 0.2s;
}

.checkout {
  padding-top: 70px;
  padding-bottom: 90px;
}
.checkout .element {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 20px;
}
.checkout .element_box {
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
}
.checkout .element_summary {
  padding-bottom: 20px;
}
.checkout .element_btn {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.checkout .element_btn:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}
.checkout .left {
  width: 40%;
}
.checkout .text-summary {
  cursor: pointer;
}
.checkout .text-summary::marker {
  content: "";
}
.checkout .big-text {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.checkout .text-title {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.checkout .text-sub {
  height: 12px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 34px;
}
.checkout .text-input {
  display: inline-block;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.checkout .text-input:last-child {
  margin-bottom: 25px;
}
.checkout .text-link {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.checkout .text-link:hover {
  color: #f16d7f;
}
.checkout .text-fast {
  margin-bottom: 5px;
}
.checkout .text-easy {
  margin-bottom: 35px;
}
.checkout .text-right-input {
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.checkout .star {
  font-size: 17px;
  font-weight: 400;
  color: #ff0d0d;
}
.checkout .right-input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.checkout .right-footer {
  display: flex;
  align-items: center;
  align-self: center;
}
.checkout .link-forget {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.checkout .link-forget:hover {
  color: #f16d7f;
}
.checkout .right-btn {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 30px;
}
.checkout .right-btn:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}
.checkout .text-required {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 17px;
}

/*# sourceMappingURL=style.css.map */
